html {
    scroll-behavior: smooth;
}

body { color: #161616}
a {
    color: #161616
}

.visually_hidden {
    display: none;
}

.card-category {
    color: #D73953
}

.section-tagline {
    color: #D73953
}


.root {
    color-primary: var(#d73953)
    color-black: var(#090909)
    color-white: var(#ffffff)
    color-light-grey: var(#f3f3f3)
    color-dark-grey: var(#353535)
    text-color: car(--color-black)
}