//ASsigning text color and background color to variables.

$text-color: #3D3D3D;
$backgroundcolor: #6D6D6D;

body {
    color: $text-color;
    background-color: $backgroundcolor;
}
h2 {
    background-color: $text-color;
}

p {
    color: $text-color;
}

